<footer>
    <div class="footer-row">
        <div class="footer-item">
            <i class="fas fa-credit-card"></i>
            <h4 class="text-center">Pagá con tarjeta o en efectivo</h4>
            <span class="item-descrip">Con Mercado Liebre Cash, tenés cuotas sin</span>
            <span class="item-descrip">interés con tarjeta o efectivo en puntos de</span>
            <span class="item-descrip">pago.¡Y siempre con seguro!</span>
        </div>
        <div class="footer-item">
            <i class="fas fa-gift"></i>
            <h4 class="text-center">Envío gratis desde $2.500</h4>
            <span class="item-descrip">Solo por estar registrad@ en Mercado Liebre</span>
            <span class="item-descrip">tenés envíos gratis en miles de productos.</span>
            <span class="item-descrip">Es un beneficio de Mercado Puntos.</span>
        </div>
        <div class="footer-item">
            <i class="fas fa-user-shield"></i>
            <h4 class="text-center">Seguridad, de principio a fin</h4>
            <span class="item-descrip">¿No te gusta? ¡Devolvelo! En Mercado Liebre</span>
            <span class="item-descrip">no hay nada que no puedas hacer, porque</span>
            <span class="item-descrip">estás siempre protegid@.</span>
        </div>
    </div>
    <p class="text-center">Copyright © 1999-2020 MercadoLiebre S.R.L. </p>            
</footer>
