<footer>
    <div class="footer-row">
        <div class="footer-item">
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre con seguro!
        </div>
        <div class="footer-item">
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $2.500</h3>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
        </div>
        <div class="footer-item">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
        </div>
    </div>
    <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L. </p>            
</footer>
