:root {
    --amarillo: #eac926;
    --azul: #03264c;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gris-claro);
    width: 100%;
    min-width: 330px;
}

h3.section-title {
    font-size: 24px;
    margin: 20px 0px;
}

p {
    font-size: 12px;
}

.text-center {
    text-align: center;
}

/******** HEADER start **********/
header {
    background-color: var(--amarillo);
    position: sticky;
    top: 0;
    z-index: 1;
}

header > div.top-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

header > div.top-header > div.logo {
    flex: 0 0 auto;
}

header div.logo img {
    height: 35px;
}

header .form {
    display: inline-flex;
    width: 55%;
}

header .form .input {
    background-color: #FFF;
    border: none;
    border-radius: 2px;
    color: var(--gris-oscuro);
    height: 40px;
    outline: none;
    padding: 10px;
    width: 80%;
}

header .button-search {
    background-color: #fff;
    border: none;
    border-left: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 2px;
    margin-left: -2px;
    padding: 10px;
}

header .installments {
    font-size: 16px;
    margin: 0 auto;
}

header nav.main-navbar {
    font-size: 12px;
    display: none;
    justify-content: space-between;
}

header nav.main-navbar ul {
    display: flex;
    justify-content: space-around;
}

header ul li {
    font-size: 14px;
    list-style-type: none;
    padding: 15px;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

header div.top-header p {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

header div.burger-menu {
    text-align: center;
}

header div.burger-menu i {
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 15px 0;
    padding: 5px 15px;
}

/******** HEADER end **********/

section div.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section div.products article {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.price {
    font-size: 18px;
    margin-right: 15px;
}

.discount,
.description {
    font-size: 16px;
    font-weight: normal;
}

h3.section-title,
.description {
    color: var(--gris-oscuro);
}

.description {
    display: none;
    margin-top: 20px;
}

section.banner img {
    width: 100%;
}

main {
    padding: 0 5%;
}

main section article {
    background-color: #fff;
    margin: 10px 0;
}

main section article img {
    width: 100%;
}

main section article i,
.discount{
    color: var(--verde);
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--verde);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: -15px;
    transition: transform 1000ms;
}

main section article i:hover {
    transform: rotate(-90deg);
}

article div.main-article{
    width: 100%;
    border-top: 1px solid var(--gris-claro);
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/* start login.html */

main section.login {
    background-color: white;
    border-radius: 5px;
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
}

main section.login .input-row {
    padding-bottom: 20px;
}

main section.login input.input-text {
    width: 100%;
}

main button.login {
    background-color: var(--celeste);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 10px;
    transition: background-color 1s;
    width: 100%;
}

button.login:hover {
    background-color: #0022AA;
}

/* end login.html */


/******* REGISTER start *******/
section.register {
    margin: 5% auto;
    width: 100%;
}
/******* REGISTER end *******/


/******* FOOTER start *******/
footer {
    background-color: gainsboro;
    margin-top: 40px;
    padding: 0 2%;
    width: 100%;
}

footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
}

footer .footer-item {
    margin: 30px 0px;
    width: 100%;
}

footer .footer-item i {
    color: #5661ff;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

footer .item-descrip {
    display: block;
    text-align: center;
    font-size: 16px;
}

/****** FOOTER start *********/

@media (min-width: 768px){
    header div.top-header {
        flex-wrap: nowrap;
        padding: 20px 40px 10px;
    }

    header .form {
        justify-content: center;
    }

    header div.top-header p {
        margin: 0;
        width: unset;
    }

    header nav.main-navbar {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
    }

    div.burger-menu {
        display: none;
    }

    section div.products article {
        width: 48%;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 992px){

    section div.products article {
        width: 23%;
    }

    article:hover h4.description {
        display: block;
    }

    .copy-header {
        max-width: 350px;
        text-align: right;
    }

    footer .footer-row {
        flex-wrap: nowrap;
    }

    footer .item-descrip {
        font-size: 15px;
    }
}