<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <%- include ("../partials/header.ejs") %>
        <main>
            <section class="login">
                <form action="/" method="get">
                    <div class="login-container">
                        <div class="input-row">
                            <label>
                                <span>Nombre de usuari@</span>
                                <input class="input-text" type="text" name="username" required minlength="8">
                            </label>
                        </div>
                        <div class="input-row">
                            <label>
                                <span>Contraseña</span>
                                <input class="input-text" type="password" name="password" id="password" required minlength="8">
                            </label>
                        </div>
                        <button class="login" type="submit">Ingresar</button>
                    </div>
                </form>
            </section>
        </main>
    </body>
</html>