<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <%- include ("../partials/header.ejs") %>
        <main>
            <section class="register">
                <form action="/" method="get">
                    <fieldset>
                        <legend>Datos personales</legend>
                        <div class="form-group">
                            <label>
                                <span>Nombre y apellido</span>
                                <input class="input-text" type="text" name="name" required minlength="10">
                            </label>
                        </div>

                        <div class="form-group">
                            <label>
                                <span>Nombre de usuari@</span>
                                <input class="input-text" type="text" name="username" id="username" required minlength="8">
                            </label>
                        </div>

                        <div class="form-group">
                            <label>
                                <span>Fecha de nacimiento</span>
                                <input class="input-date" type="date" name="birthday" id="birthday" required>
                            </label>
                        </div>

                        <div class="form-group">
                            <label>
                                <span>Domicilio</span>
                                <input class="input-text" type="text" name="address" id="address" required minlength="10">
                            </label>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Tipo de perfil</legend>
                        <label>
                            <input type="radio" name="profile" id="profile" value="comprar">
                            Comprar
                        </label>
                        <label>
                            <input type="radio" name="profile" id="profile" value="vender">
                            Vender
                        </label>
                    </fieldset>

                    <fieldset>
                        <legend>Categoría de interés</legend>
                        <label class="interest">
                            <input type="checkbox" name="category" id="electro">
                            Electro
                        </label>
                        <label class="interest">
                            <input type="checkbox" name="category" id="moda">
                            Moda
                        </label>
                        <label class="interest">
                            <input type="checkbox" name="category" id="hogar">
                            Hogar
                        </label>
                        <label class="interest">
                            <input type="checkbox" name="category" id="jugueteria">
                            Juguetería
                        </label>
                        <label class="interest">
                            <input type="checkbox" name="category" id="vida-sana">
                            Vida sana
                        </label>
                    </fieldset>

                    <label class="ml-10px">
                        Foto
                        <input class="ml-10px" type="file" name="photo" id="photo" required>
                    </label>

                    <fieldset>
                        <div class="form-group">
                            <label>
                                <span>Contraseña</span>
                                <input class="input-text" type="password" name="password" id="password" required minlength="8">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <span>Repetir Contraseña</span>
                                <input class="input-text" type="password" name="password-repeat" id="password-repeat" required minlength="8">
                            </label>
                        </div>
                    </fieldset>
                    <button class="btn-secondary ml-10px" type="reset">Borrar datos</button>
                    <button class="btn-primary" type="submit">Enviar datos</button>
                </form>
            </section>
        </main>
    </body>
</html>