<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <%- include ("../partials/header.ejs") %>
        <section class="banner" style="display: none;">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>
        <main>
            <section class="register">
                <form action="/" method="get">
                    <fieldset>
                        <div class="form-group">
                            <label for="name">Nombre y apellido</label>
                            <input type="text" name="name" required minlength="10">
                        </div>

                        <div class="form-group">
                            <label for="username">Nombre de usuari@</label>
                            <input type="text" name="username" id="username" required minlength="8">
                        </div>

                        <div class="form-group">
                            <label for="birthday">Fecha de nacimiento</label>
                            <input type="date" name="birthday" id="birthday" required>
                        </div>

                        <div class="form-group">
                            <label for="address">Domicilio</label>
                            <input type="text" name="address" id="address" required minlength="10">
                        </div>
                    </fieldset>

                    <fieldset>
                            <h3>Tipo de perfil</h3><br>
                            <label>
                                <input type="radio" name="profile" id="profile" value="comprar">
                                Comprar
                            </label><br>
                            <label>
                                <input type="radio" name="profile" id="profile" value="vender">
                                Vender
                            </label>
                    </fieldset>

                    <fieldset>
                        <h3>Categoría de interés</h3><br>
                        <label>
                            <input type="checkbox" name="category" id="electro">
                            Electro
                        </label><br>
                        <label>
                            <input type="checkbox" name="category" id="moda">
                            Moda
                        </label><br>
                        <label>
                            <input type="checkbox" name="category" id="hogar">
                            Hogar
                        </label><br>
                        <label>
                            <input type="checkbox" name="category" id="jugueteria">
                            Juguetería
                        </label><br>
                        <label>
                            <input type="checkbox" name="category" id="vida-sana">
                            Vida sana
                        </label>
                    </fieldset>

                    <label>
                        Foto
                        <input type="file" name="photo" id="photo" required>
                    </label>

                    <fieldset>
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" required minlength="8">
                        <label for="password">Repetir Contraseña</label>
                        <input type="password" name="password-repeat" id="password-repeat" required minlength="8">
                    </fieldset>
                    <button type="reset">Borrar datos</button>
                    <button type="submit">Enviar datos</button>
                </form>
            </section>
        </main>
        <%- include ("../partials/footer.ejs") %>
    </body>
</html>